<div>
  <h2>
    {{post.title}}
  </h2>
  <h3>
   	{{post.user}}
  </h3>
  <h4>
    {{post.content}}
  </h4>
  <h3>Comments: </h3>
  <h3 ng-if="!comments.length">Theres nothing here</h3>
  <table class="table table-bordered table-hover">
    <tbody>
      <div ng-repeat='comment in comments track by $index'>
        <div>{{comment.user}}</div>
        <div>{{comment.content}}</div>
      </div>
    </tbody>
  </table>
  <div class="form-group">
    <label for="comment">Write a comment:</label>
    <textarea name="comment" rows="10" cols="100" ng-model='comment'></textarea>
  </div>
  <button ng-click='submit(comment)' class="btn btn-primary" id="submit">Submit</button>
</div>
